.other-pages {
    margin: 20px;
    text-decoration: none;
    color: blueviolet;
}

.contact{
    margin: 15px;
}

a:hover {
    color: #5f1f98;
}

header {
    padding: 5px;
    background: mediumpurple;
    color: whitesmoke;
    text-align: center;
}

footer {
    padding: 5px;
    background: mediumpurple;
    color: whitesmoke;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navigation {
    padding: 20px;
    text-align: center;
}

.info {
    padding: 10px 10px;
    margin: 5px;
    background: #9043c4;
    color: whitesmoke;
    border: 1px solid #4c0063;
    border-radius: 10px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#main-page-pic{
    text-align: center;
    padding: 25px;
}
#pic{
    border-radius: 10px;
    scale: 1.25;
}

#info{
    margin: 10px;
    border-radius: 15px;
    border-color: #8567a2;
    border-style: solid;
    background: #c899ef;
    display: flex;
    flex-direction: column;
    width: 30%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#image{
    border-radius: 5px;

}

